C:\Users\Emman\Desktop\JE\Ortho\STL-Segmentation\OrthoCAD_Export_43495989\43495989_shell_occlusion_l.npy
*.npy
*Miniforge3-Darwin-arm64.sh*
*.ipynb_checkpoints*
OrthoCAD_Export_43495989/*
OrthoCAD_Export*
